.Tree{
    margin-left: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  padding-left: 15px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
h3{
color: #ff8080;
}